<% include header.html %>

  
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h2 class="text-white-50 mx-auto mt-2 mb-5"><%= __('Search the Complete') %> <%= title %> <%= __('Catalogue') %>.</h2>
        <a href="#search" class="btn btn-primary js-scroll-trigger"><%= __('Get Started') %></a>
      </div>
    </div>
  </header>
  
  <div class="search-section" id="search">
    <form method="GET" action="/" class="form-group">
      <h3><%= __('Select a Tag') %></h3>
      <div class="tags-container">
        <% tags.forEach((tag, i) => { %>
          <label for="<%=tag%>" class="paper-check">
            <input type="checkbox" name="tags" id="<%=tag%>" value="<%=tag%>"> <span><%=tag%></span>
          </label>
        <% }) %>
      </div>
      <h3><%= __('Type of Ad:') %></h3>
      <fieldset>
        <label for="sellRadio" class="paper-radio">
          <input type="radio" name="sell" id="sellRadio" value="true"> <span><%= __('I am Selling an Item') %><span>
        </label>
        <label for="buyRadio" class="paper-radio">
          <input type="radio" name="sell" id="buyRadio" value="false"> <span><%= __('I am Buying an Item') %><span>
        </label>
      </fieldset>
      
      <div class="col sm-5 row">
        <input type="number" placeholder="Minimum Price" name="min" id="min">
        <input type="number" placeholder="Maximum Price" name="max" id="max">
      </div>
      <div class="col sm-8 form-group">
        <label for="item-name"><h4><%= __('Search Item by Name') %></h4></label>
        <input class="input-block" type="text" name="name" id="item-name">
      </div>
      <button type="submit" class="btn-secondary"><%= __('Search') %></button>
    </form>
    <div class="row">
      <a href="/form"><button class="btn-success"><%= __('Add a new Ad') %></button></a>
    <a href="/"><button class="btn-success"><%= __('Reset Search') %></button></a>
    </div>
  </div>

  
  
  <ul class="form-group">
  <h2><%= __('All Our Ads') %></h2>
  <% chunk.forEach(ad => { %>
    <li class="individual_ad">
      <div class="card" style="width: 50vw;">
        <img src="<%= ad.picture %>" style="width: 100%;"/>
        <div class="card-body">
          <h3 class="card-title"><%= ad.name %></h4>
          <h4 class="card-title"><%= ad.price + ' Euro' %></h3>
          <h5 class="card-subtitle"><%= ad.sale ? 'For Sale' : 'To Buy' %></h5>
          <p class="card-text"><%= ad.tags.map(el => el + ' ') %></p>
        </div>
        <a href="/deleteAd/<%= ad._id%>"><button class="btn-danger"><%= __('Delete this Ad') %></button></a>
      </div>
    </li>
  <% }) %>
  </ul>
  
  <% include footer.html %>